<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template GIT TEST </title>
</head>
<body>
    <h1>GIT Setting UP</h1>
    <p>hfjcfajhjah   hfofe efwh  ihofehfwi wefiohwehew iowehs hwef hweefhlew 
    uhdkfefh khf fk kd      hjkfgd  f hgjjkf<p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere omnis laboriosam eum commodi fugiat quasi cumque accusantium iste, quae dolore consequuntur consequatur dolores natus, iure ut neque ullam. Possimus, atque.</p>   
</body>
</html>